* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
}

body {
    font-size: 1.6rem;
}

header {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-width: 192rem;
    margin: 0 auto;
    background-color: #0B0E09;
    background-image: url(../images/Kasia.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}

.shadow {
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: 192rem;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
}

.welcome {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 15% 5%;
    color: rgb(240, 240, 240);
    overflow: hidden;
}

h1.welcome_name {
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 0.8px;
}

h2.welcome_function {
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.welcome_btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    padding: .5rem 3rem .6rem;
    border: .1rem solid rgb(240, 240, 240);
    border-radius: .5rem;
    background-color: transparent;
    font-size: 1.6rem;
    letter-spacing: .4rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(240, 240, 240);
}

@media (orientation: portrait) and (min-width:460px) {

    .welcome {
        padding: 10% 5%;
    }

    h1.welcome_name {
        font-size: 3rem;
    }

    .welcome_btn {
        font-size: 2rem;
        padding: .5rem 4rem .6rem;
    }
}

@media (orientation:landscape) and (min-width:460px) {

    .welcome {
        padding: 5%;
    }

    h1.welcome_name {
        position: absolute;
        bottom: 25%;
        left: 3%;
        padding-bottom: .8rem;
        font-size: 1.7rem;
    }

    h2.welcome_function {
        position: absolute;
        bottom: 20%;
        left: 3%;
        font-size: 1.6rem;
    }

    .welcome_btn {
        left: 3%;
        padding: .1rem 2rem .2rem;
        font-size: 1.4rem;
    }
}


@media(orientation:portrait) and (min-width:600px) {

    h1.welcome_name {
        right: 7%;
        font-size: 3.3rem;
    }

    h2.welcome_function {
        right: 7%;
        font-size: 2.7rem;
    }

    .welcome_btn {
        right: 7%;
        font-size: 2.5rem;
    }
}

@media (orientation:landscape) and (min-width:768px) {

    header {
        background-position: left;
    }

    .welcome {
        padding: 5%;
    }

    h1.welcome_name {
        left: 3%;
        font-size: 2.4rem;
    }

    h2.welcome_function {
        left: 3%;
        font-size: 2rem;
    }

    .welcome_btn {
        left: 3%;
        padding: .1rem 2rem .2rem;
        font-size: 1.7rem;
    }
}

@media (orientation:portrait) and (min-width:768px) {

    h1.welcome_name {
        right: 7%;
        font-size: 3.5rem;
    }

    h2.welcome_function {
        right: 7%;
        font-size: 2.9rem;
    }

    .welcome_btn {
        right: 7%;
        font-size: 2.8rem;
    }
}

@media (orientation:landscape) and (min-width:1024px) {

    header {
        background-position: left;

    }

    .shadow {
        background-color: rgba(0, 0, 0, .7);

    }

    .welcome {
        padding: 6% 3%;
    }

    h1.welcome_name {
        bottom: 28%;
        left: 4rem;
        font-size: 3rem;
        letter-spacing: 2px;
    }

    h2.welcome_function {
        bottom: 23%;
        left: 4rem;
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    .welcome_btn {
        bottom: 15%;
        cursor: pointer;
        transition: .5s;
    }

    .welcome_btn:hover {
        background-color: #2C251E;
        color: rgb(255, 255, 255);
    }
}


@media (orientation:portrait) and (min-width:1024px) {

    h1.welcome_name {
        font-size: 5rem;
    }

    h2.welcome_function {
        left: 4rem;
        font-size: 4rem;
    }

    .welcome_btn {
        bottom: 12%;
        right: 9rem;
        font-size: 4rem;
        letter-spacing: .7rem;
        cursor: pointer;
        transition: .5s;
    }

    .welcome_btn:hover {
        background-color: #2C251E;
        color: rgb(255, 255, 255);
    }
}


@media(min-width: 1280px) {

    h1.welcome_name {
        left: 3rem;
        bottom: 28%;
        font-size: 3.5rem;
        letter-spacing: 2px;
    }

    h2.welcome_function {
        left: 3rem;
        bottom: 24%;
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .welcome_btn {
        left: 3rem;
        bottom: 14%;
        padding: .2rem 5rem .3rem;
        font-size: 2.3rem;
        letter-spacing: 9px;
    }
}

@media(min-width: 1600px) {

    header {
        background-color: #0B0E09;
        background-image: url(../images/Kasia.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-attachment: fixed;
    }

    h1.welcome_name {
        left: 4rem;
        bottom: 28%;
        font-size: 5rem;
    }

    h2.welcome_function {
        left: 4rem;
        bottom: 24%;
        font-size: 3.5rem;
    }

    .welcome_btn {
        left: 4rem;
        bottom: 14%;
        padding: .2rem 6rem .3rem;
        font-size: 3rem;
    }
}

section {
    height: 100vh;
    overflow: hidden;

}

.features {
    padding: 0 8%;
    text-align: center;
    max-width: 1600px;
}

.features h1 {
    display: block;
    height: 25%;
    padding-top: 10%;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 3rem;
    overflow: hidden;
}

.feature {
    height: 25%;
    overflow: hidden;
}


.icons {
    font-size: 36px;
    overflow: hidden;
}

.fas,
.fab {
    padding: 0 3%;
}

.fa-html5,
.fa-search,
.fa-mobile-alt {
    color: #8d2f16;
}

.fa-css3,
.fa-google,
.fa-laptop {
    color: #123d72;
}

.fa-js-square,
.fa-check-circle,
.fa-tablet-alt {
    color: #b27e09;
}

.desktop {
    display: none;
}

.feature p {
    display: none;
}

@media (orientation:landscape) and (min-width:480px) {

    .features {
        padding: 0 1%;
        margin: 0 auto;
        text-align: center;
    }

    .features h1 {
        padding: 5% 0;
        font-size: 2rem;
    }

    .feature {
        display: inline-block;
        width: 45%;
        height: 35%;
        padding: 2% 3%;
    }

    .icons {
        font-size: 2.8rem;
    }

    .mobile {
        font-size: 1.8rem;
    }
}

@media (orientation:portrait) and (min-width:600px) {

    .features h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .fas,
    .fab {
        font-size: 4.5rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        margin: 0 auto;
        font-size: 3rem;
    }
}

@media (orientation:landscape) and (min-width:640px) {

    .features {
        padding: 0 1%;
    }

    .features h1 {
        font-size: 2.1rem;
    }


    .icons {
        font-size: 2.8rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        font-size: 1.9rem;
        line-height: 1.9rem;
        font-weight: 300;
    }
}

@media (orientation:landscape) and (min-width:720px) {

    .features {
        padding: 0 1% 2%;
    }


    .features h1 {
        padding-left: 9%;
        text-align: left;
        font-size: 2.3rem;
    }

    .feature {
        width: 100vw;
        height: 23%;
        overflow: hidden;
    }

    .icons {
        width: 30%;
        padding: 0 2rem;
        float: left;
        font-size: 3.5rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        float: left;
        line-height: 5rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

@media (orientation:portrait) and (min-width:1024px) and (max-width:1024px) {

    .features h1 {
        font-size: 5rem;
        height: 10%;
        padding-bottom: 20%;
    }

    .fas,
    .fab {
        font-size: 8rem;
    }

    .desktop {
        padding-top: 6%;
        line-height: 4rem;
        font-size: 4rem;
    }
}

@media (orientation:landscape) and (min-width:1024px) and (max-height:721px) {

    section {
        height: 100vh;
    }

    .features {
        width: 100vw;
        padding: 3%;
        overflow: hidden;

    }

    .features h1 {
        height: 15%;

        padding: 2% 0 0;
        text-align: center;
        font-size: 3.4rem;
    }

    .feature {
        display: inline-block;
        width: 32%;
        height: 85%;
        overflow: hidden;
    }

    .icons {
        display: inline;
        width: 100%;
        height: 20%;
        padding: 0 1%;
        font-size: 45px;
    }

    .fas,
    .fab {
        padding: 0 3%;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        height: 20%;
        padding-top: 4%;
        line-height: 2.5rem;
        font-size: 1.8rem;
    }

    .feature p {
        display: inline-block;
        height: 60%;
        padding-top: 4%;
        text-align: center;
        font-size: 1.8rem;
    }
}

@media (orientation: landscape) and (min-width:1024px) and (min-height: 723px) {

    .features h1 {
        height: 15%;
        padding: 4% 0 0;
        text-align: center;
        font-size: 3.8rem;
    }

    .feature {
        display: inline-block;
        width: 33%;
        height: 85%;
        overflow: hidden;
    }

    .icons {
        display: inline;
        width: 100%;
        height: 20%;
        padding: 0 1%;
        font-size: 50px;
    }

    .fas,
    .fab {
        padding: 0 3%;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        height: 20%;
        padding-top: 6%;
        line-height: 2.6rem;
        font-size: 1.9rem;
        text-transform: uppercase;
    }

    .feature p {
        display: inline-block;
        height: 60%;
        padding-top: 5%;
        text-align: center;
        font-size: 2rem;
    }
}

@media (min-width:1280px) {
    .features {
        margin-top: 5%;
        min-height: 500px;
    }

    .features h1 {
        padding: 0;
        text-align: center;
    }

    .desktop {
        text-transform: uppercase;
    }
}

.portfolio {
    height: 100%;
    background-color: #1a1a1a;
}

.portfolio h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
}

.portfolio .project:nth-of-type(1) {
    background-color: #b27e09;
}

.portfolio .project:nth-of-type(2) {
    background-color: #123d72;
}

.portfolio .project:nth-of-type(3) {
    background-color: #8d2f16;
}

.project .web {
    padding: 10px 0 0;
    background-color: white;
}

.project .web img {
    width: 100%;
}

.project .about {
    padding: 5px 20px 20px;
    color: rgb(240, 240, 240);
}

.about h2 {
    border-bottom: 1px solid white;
    font-size: 28px;
    font-weight: 200;
}

.about p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

@media (orientation: portrait) and (min-width:460px) {
    .project .about {
        /*        height: 200px;*/
        padding: 5px 20px 20px;
        color: rgb(240, 240, 240);
    }

    .about h2 {
        border-bottom: 1px solid white;
        font-size: 30px;
        font-weight: 200;
    }

    .about p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
    }
}
